*
{
    box-sizing: border-box;
    margin: 0;
}

#content
{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: 100% 70%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    display: grid;
    grid: 30vh 20vh 50vh/ none;
    justify-items: center;
    gap:10px;
}
header
{
    width: 100%;
    height: 100%;
    
}
#image
{
    width: 100%;
    height: 100%;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
h1
{
    margin-bottom: 10px;
}
section
{
    background-color: rgba(255, 255, 255, 0.573);

    width: 50%;
    border: 5px solid black;
    padding: 10px;
    text-align: center;

}
footer
{
    height: 80%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.573);
    align-self:flex-start;
    display: grid;
    grid:2rem 1rem 1fr/ none;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

h2
{
    font-size: 1.2rem;
    align-self: bottom;
}
form
{
    height: 80%;
    width: 50%;
}

label
{
    display: block;
    height: 0.7rem;
    width: 100%;
    background-color: rgb(67, 67, 67);
    color: white;
    font-size: 0.3rem;
    line-height: 0.9rem;
    font-weight: 900;
    padding-left: 5px;
    letter-spacing: 1px;
}
input
{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1.8rem;
}
button
{
    display: block;
    width: 100%;
    background-color: rgb(67, 67, 67);
    color: white;
    
}